body{
	background: url(s9nIMMH-airplane-wall-paper.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#logo{
	width: 40px;
	height:40px;
	display: inline;
	margin-bottom: 10px;
	vertical-align: top;
}

.navbar-brand{
	font-family: Paytone One;

}

a{
    color:white;
}

.tabshead{
	font-weight: bold;
	font-size: 1.5em;
	color: white;
}

.tab-content {
	color: white;
}

#second{
	margin-top: 11%;
    border: 1px solid;
    box-shadow: 5px 5px 5px 3px #131313;
    background-color: rgba(90,0,0,0.3);
}

.drop{
	color: black;
	width: 30%;
	height: 40px;
	font-size: 1.3em;
	margin-bottom: 20px;
	margin-right: 1.2%;
	margin-left: 1.2%;
}

.drop2{
	color: black;
	width: 45%;
	height: 40px;
	font-size: 1.3em;
	margin-bottom: 20px;
	margin-left: 3.3%;
}

.drp{
	margin-left: 44%;
}

.drop21{
	color: black;
	width: 40.5%;
	height: 40px;
	font-size: 1.3em;
	margin-bottom: 20px;
	margin-right: 3.3%;
}

.lab{
	padding-left: 10px;
	font-size: 1.5em;
}

.lab2{
	padding-left: 3.3%;
	font-size: 1.5em;
}

.container{
	padding-left: 0px;
	padding-right: 0px;
}

#flightsButton {
	background-color: rgba(150,0,0,0.7);
	color: white;
}

.btn-group-lg>.btn, .btn-lg {
	padding: 8px 40px;
}

#content{
	text-align: center;
	padding-top: 10%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

h1{
	font-size: 4em;
	font-family: Pacifico;
	word-spacing: 15px;
	color: white;
}

#usernameSignUp{
	margin-left: 9.9%;
}

#email{
	margin-left: 12.1%;
}

#passSignUp{
	margin-left: 10.1%;
}

#messagecheck1, #messagecheck2{
	color: red;
}

.messageCheck{
	color: red;
}

#flightsButton{
	background-color: rgba(150,0,0,0.7);
}